<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.li.mapper.PermissionMapper">
    <resultMap id="permissionRoleMap" type="com.li.bean.Permission">
        <id column="p_id" property="pId"/>
        <result column="p_name" property="pName"/>
        <result column="p_url" property="pUrl"/>
        <result column="p_code" property="pCode"/>
        <result column="sort" property="sort"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <!--创建人-->
        <association property="creator" javaType="com.li.bean.User">
            <id column="create_by" property="userId"/>
            <result column="creator" property="nickname"/>
        </association>
        <!--修改人-->
        <association property="modifier" javaType="com.li.bean.User">
            <id column="update_by" property="userId"/>
            <result column="modifier" property="nickname"/>
        </association>
        <!--角色-->
        <collection property="roleList" select="com.li.mapper.RoleMapper.getRoleListByPermissionId" column="p_id">
        </collection>
    </resultMap>
    <sql id="selectPermission">
        SELECT p.p_id,p.p_name,p.p_url,p.p_code,p.parent_id,p.sort,p.type,p.create_by,p.create_time,
	      p.update_by,p.update_time,c.nickname creator,m.nickname modifier
        FROM permission p
        LEFT JOIN USER c ON p.create_by = c.user_id
        LEFT JOIN USER m ON p.update_by = m.user_id
    </sql>
    <insert id="savePermission" useGeneratedKeys="true" keyProperty="pId">
        insert into permission values(#{pId},#{pName},#{pUrl},#{pCode},#{type},#{parentId},#{sort},#{creator.userId},#{createTime})
    </insert>
    <update id="updatePermissionById">
        update permission
        <set>
            <if test="pName != null"> p_name = #{pName},</if>
            <if test="pUrl != null"> p_url = #{pUrl},</if>
            <if test="pCode != null"> p_code = #{pCode},</if>
            <if test="type != null"> type = #{type},</if>
            <if test="parentId != null"> parent_id = #{parentId},</if>
            <if test="sort != null"> sort = #{sort},</if>
            <if test="updateBy != null"> update_by = #{modifier.userId},</if>
            <if test="updateTime != null"> update_time = #{updateTime}</if>
        </set>
        where p_id = #{id}
    </update>
    <delete id="deletePermissionById">
        delete from permission where p_id = #{id}
    </delete>
    <select id="getAllPermission" resultType="com.li.bean.Permission">
       SELECT p.p_id,p.p_name,p.p_url,p.p_code,p.parent_id,p.sort,p.type,
        p.create_by,p.create_time,p.update_by,p.update_time
        FROM permission p
        ORDER BY sort
    </select>
    <select id="getPermissionByUserId" resultType="com.li.bean.Permission">
        SELECT p.p_id,p.p_name,p.p_url,p.p_code,p.parent_id,
        p.sort,p.type,p.create_by,p.create_time,p.update_by,p.update_time
        FROM permission p
        LEFT JOIN role_permission rp ON p.p_id = rp.permission_id
        LEFT JOIN user_role ur ON rp.role_id = ur.role_id
        where ur.user_id = #{userId}
        <if test="type !=null"> and p.type = #{type}</if>
        order by p.sort
    </select>
    <select id="getPermissionByRoleId" resultType="com.li.bean.Permission">
        SELECT p.p_id,p.p_name,p.p_url,p.p_code,p.parent_id,p.sort,
          p.type,p.create_by,p.create_time,p.update_by,p.update_time
        FROM permission p
        LEFT JOIN role_permission rp ON p.p_id = rp.permission_id
        WHERE rp.role_id = #{roleId}
        ORDER BY p.sort
    </select>
</mapper>